In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('drug200.csv')

In [3]:
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [4]:
df.columns

Index(['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K', 'Drug'], dtype='object')

In [5]:
data=df

In [6]:
#converting categorical data into numeric using LabelEncoder
from sklearn import preprocessing

In [7]:
le=preprocessing.LabelEncoder()
Sex_df=le.fit_transform(data.Sex)
BP_df=le.fit_transform(data.BP)
Cholesterol_df=le.fit_transform(data.Cholesterol)

In [8]:
enc=data
enc['Sex']=Sex_df
enc['BP']=BP_df
enc['Cholesterol']=Cholesterol_df

In [9]:
enc.head()

   Age  Sex  BP  Cholesterol  Na_to_K   Drug
0   23    0   0            0   25.355  drugY
1   47    1   1            0   13.093  drugC
2   47    1   1            0   10.114  drugC
3   28    0   2            0    7.798  drugX
4   61    0   1            0   18.043  drugY

In [16]:
#choosing relevant columns
df_model=df[['Age','Sex','BP','Cholesterol','Na_to_K','Drug']]

In [11]:
#train test split
from sklearn.model_selection import train_test_split

In [17]:
df_model.head()

   Age  Sex  BP  Cholesterol  Na_to_K   Drug
0   23    0   0            0   25.355  drugY
1   47    1   1            0   13.093  drugC
2   47    1   1            0   10.114  drugC
3   28    0   2            0    7.798  drugX
4   61    0   1            0   18.043  drugY

In [19]:
X=df_model.drop('Drug',axis=1)
y=df_model.Drug.values

In [22]:
X

     Age  Sex  BP  Cholesterol  Na_to_K
0     23    0   0            0   25.355
1     47    1   1            0   13.093
2     47    1   1            0   10.114
3     28    0   2            0    7.798
4     61    0   1            0   18.043
..   ...  ...  ..          ...      ...
195   56    0   1            0   11.567
196   16    1   1            0   12.006
197   52    1   2            0    9.894
198   23    1   2            1   14.020
199   40    0   1            1   11.349

[200 rows x 5 columns]

In [21]:
y

array(['drugY', 'drugC', 'drugC', 'drugX', 'drugY', 'drugX', 'drugY',
       'drugC', 'drugY', 'drugY', 'drugC', 'drugY', 'drugY', 'drugY',
       'drugX', 'drugY', 'drugX', 'drugA', 'drugC', 'drugY', 'drugY',
       'drugY', 'drugY', 'drugY', 'drugY', 'drugY', 'drugY', 'drugX',
       'drugY', 'drugY', 'drugX', 'drugB', 'drugX', 'drugY', 'drugX',
       'drugX', 'drugA', 'drugX', 'drugX', 'drugX', 'drugY', 'drugB',
       'drugY', 'drugX', 'drugX', 'drugX', 'drugA', 'drugC', 'drugY',
       'drugY', 'drugY', 'drugX', 'drugY', 'drugY', 'drugB', 'drugC',
       'drugB', 'drugY', 'drugX', 'drugY', 'drugY', 'drugA', 'drugY',
       'drugX', 'drugB', 'drugY', 'drugA', 'drugX', 'drugY', 'drugY',
       'drugB', 'drugY', 'drugX', 'drugY', 'drugY', 'drugY', 'drugA',
       'drugY', 'drugA', 'drugX', 'drugB', 'drugX', 'drugC', 'drugA',
       'drugC', 'drugB', 'drugX', 'drugY', 'drugY', 'drugY', 'drugY',
       'drugY', 'drugY', 'drugY', 'drugY', 'drugX', 'drugY', 'drugY',
       'drugY', 'drugY', 'drugA', 'drugA', 'drugC', 'drugX', 'drugY',
       'drugX', 'drugX', 'drugY', 'drugB', 'drugY', 'drugA', 'drugX',
       'drugX', 'drugX', 'drugX', 'drugY', 'drugX', 'drugX', 'drugA',
       'drugY', 'drugY', 'drugY', 'drugY', 'drugY', 'drugB', 'drugY',
       'drugY', 'drugX', 'drugY', 'drugX', 'drugY', 'drugY', 'drugX',
       'drugY', 'drugY', 'drugX', 'drugB', 'drugA', 'drugB', 'drugX',
       'drugA', 'drugY', 'drugB', 'drugY', 'drugA', 'drugX', 'drugX',
       'drugA', 'drugX', 'drugC', 'drugA', 'drugB', 'drugX', 'drugX',
       'drugY', 'drugC', 'drugA', 'drugY', 'drugC', 'drugX', 'drugX',
       'drugB', 'drugX', 'drugY', 'drugY', 'drugY', 'drugY', 'drugX',
       'drugY', 'drugA', 'drugX', 'drugX', 'drugY', 'drugY', 'drugA',
       'drugY', 'drugA', 'drugY', 'drugY', 'drugY', 'drugY', 'drugX',
       'drugX', 'drugY', 'drugY', 'drugY', 'drugB', 'drugA', 'drugY',
       'drugY', 'drugY', 'drugA', 'drugY', 'drugC', 'drugY', 'drugC',
       'drugC', 'drugX', 'drugX', 'drugX'], dtype=object)

In [24]:
X.shape

(200, 5)

In [25]:
y.shape

(200,)

In [26]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=3)

In [38]:
#using Support Vector Machine for building a classifier
from sklearn.svm import SVC
from sklearn import metrics
from sklearn.metrics import accuracy_score

In [44]:
svm=SVC(kernel='linear',C=0.025,random_state=3)
svm.fit(X_train,y_train)
y_pred=svm.predict(X_test)
print("Accuracy is",accuracy_score(y_test,y_pred)*100)

Accuracy is 73.33333333333333

In [45]:
np.mean(cross_val_score(svm, X_train, y_train, cv=3))

0.7005858772741288

In [46]:
#using kNN for Classification
from sklearn.neighbors import KNeighborsClassifier

In [47]:
knn=KNeighborsClassifier(n_neighbors=15)
knn.fit(X_train,y_train)
y_predict=knn.predict(X_test)
print("Accuracy is",accuracy_score(y_test,y_predict)*100)

Accuracy is 61.66666666666667

In [48]:
np.mean(cross_val_score(knn, X_train, y_train, cv=3))

0.5857230958988592

In [32]:
#using RandomForetClassifier for classification
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
import numpy as np

rf = RandomForestClassifier() 

#3-Fold Cross validation
np.mean(cross_val_score(rf, X_train, y_train, cv=3))

0.9927536231884058

In [50]:
from sklearn.model_selection import GridSearchCV

In [52]:
param_grid = { 
    'n_estimators': [25, 50],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth' : [4,5,6,7,8],
    'criterion' :['gini', 'entropy']
}

grid_rf = GridSearchCV(rf, param_grid, cv=3,n_jobs=15)
grid_rf.fit(X_train, y_train)

GridSearchCV(cv=3, estimator=RandomForestClassifier(), n_jobs=15,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [4, 5, 6, 7, 8],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [25, 50]})

In [54]:
grid_rf.best_score_

0.9929078014184397

In [55]:
grid_rf.best_estimator_

RandomForestClassifier(criterion='entropy', max_depth=8, max_features='sqrt',
                       n_estimators=25)

In [63]:
#pplying best estimators on randomforestclassifer
from sklearn.ensemble import RandomForestClassifier
rf1 = RandomForestClassifier(criterion='entropy', max_depth=8, max_features='sqrt',n_estimators=25) 
rf1.fit(X_train,y_train)
y_preds=rf1.predict(X_test)
print("Accuracy is",accuracy_score(y_test,y_preds)*100)

Accuracy is 98.33333333333333

In [64]:
np.mean(cross_val_score(rf1, X_train, y_train, cv=3))

0.9855072463768115